#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &kp N5                  &kp NUMBER_6           &kp N9      &kp N8  &kp N7  &mt N0 BACKSPACE
&kp TAB           &kp Q         &kp W         &kp E           &kp R                   &kp T                  &kp I       &kp U   &kp Y   &kp O
&lt 1 CAPS        &kp A         &kp S         &kp D           &kp F                   &kp G                  &kp K       &kp J   &kp H   &kp L
&mt LEFT_SHIFT Z  &kp X         &mt LCTRL C   &mt LEFT_ALT V  &mt LEFT_GUI B          &kp COMMA              &kp PERIOD  &kp M   &kp N   &kp SLASH
                                                              &mt LEFT_SHIFT SPACE    &mt RIGHT_SHIFT SPACE
            >;
        };

        layer_1 {
            bindings = <
&kp ESCAPE  &to 0   &to 1   &to 2   &trans            &trans           &trans             &trans          &kp MINUS         &kp EQUAL
&kp GRAVE   &trans  &trans  &trans  &trans            &trans           &kp RIGHT_BRACKET  &kp BACKSLASH   &kp LEFT_BRACKET  &kp P
&trans      &trans  &trans  &trans  &trans            &trans           &kp UP_ARROW       &trans          &trans            &kp ENTER
&trans      &trans  &trans  &trans  &trans            &trans           &kp DOWN           &kp LEFT_ARROW  &trans            &kp RIGHT
                                    &kp LEFT_SHIFT    &kp RIGHT_SHIFT
            >;
        };

        layer_2 {
            bindings = <
&lt 0 NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                  &kp NUMBER_6          &kp N9      &kp N8     &kp N7  &mt N0 BACKSPACE
&kp Q             &kp W         &kp E         &kp R         &kp T                   &kp I                 &kp U       &kp Y      &kp O   &kp P
&lt 1 A           &kp S         &kp D         &kp F         &kp G                   &kp H                 &kp L       &kp K      &kp J   &kp ENTER
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V         &mt LCMD B              &kp N                 &kp PERIOD  &kp COMMA  &kp M   &kp SLASH
                                                            &mt LEFT_SHIFT SPACE    &mt LEFT_SHIFT SPACE
            >;
        };
    };
};
