#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        layer0 {
            bindings = <&tog 1>;
            key-positions = <40 41>;
            layers = <1 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer1 {
            display-name = "Base";
            bindings = <
&kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &kp N5                  &kp NUMBER_6           &kp N9      &kp N8  &kp N7  &mt N0 BACKSPACE
&kp TAB           &kp Q         &kp W         &kp E           &kp R                   &kp T                  &kp I       &kp U   &kp Y   &kp O
&lt 2 CAPS        &kp A         &kp S         &kp D           &kp F                   &kp G                  &kp K       &kp J   &kp H   &kp L
&mt LEFT_SHIFT Z  &kp X         &mt LCTRL C   &mt LEFT_ALT V  &mt LEFT_GUI B          &kp COMMA              &kp PERIOD  &kp M   &kp N   &kp SLASH
                                                              &mt LEFT_SHIFT SPACE    &mt RIGHT_SHIFT SPACE
            >;
        };

        layer_2 {
            bindings = <
&kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                  &kp NUMBER_6          &kp N9      &kp N8     &kp N7  &mt N0 BACKSPACE
&mt TAB Q         &kp W         &kp E         &kp R         &kp T                   &kp Y                 &kp O       &kp I      &kp U   &kp P
&lt 2 A           &kp S         &kp D         &kp F         &kp G                   &kp H                 &kp L       &kp K      &kp J   &kp ENTER
&mt LEFT_SHIFT Z  &kp X         &mt LCTRL C   &kp V         &mt LCMD B              &kp N                 &kp PERIOD  &kp COMMA  &kp M   &kp SLASH
                                                            &mt LEFT_SHIFT SPACE    &mt LEFT_SHIFT SPACE
            >;
        };

        layer_3 {
            bindings = <
&kp ESCAPE  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans  &trans            &trans           &kp C_VOL_DN          &kp C_MUTE         &trans            &kp C_VOLUME_UP
&kp GRAVE   &trans                &trans                &trans  &trans            &trans           &kp NON_US_BACKSLASH  &kp RIGHT_BRACKET  &kp LEFT_BRACKET  &kp P
&trans      &trans                &trans                &trans  &trans            &trans           &kp UP_ARROW          &trans             &trans            &trans
&trans      &trans                &trans                &trans  &trans            &trans           &kp DOWN              &kp LEFT           &trans            &kp RIGHT
                                                                &kp LEFT_SHIFT    &kp RIGHT_SHIFT
            >;
        };
    };
};
