#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                  &kp NUMBER_6           &kp N9     &kp N7      &kp N9  &mt N0 BACKSPACE
&kp TAB           &kp Q         &kp W         &kp E         &kp R                   &kp T                  &kp I      &kp U       &kp Y   &kp O
&lt 0 CAPS        &kp A         &kp S         &kp D         &kp F                   &kp G                  &kp K      &kp J       &kp H   &kp L
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V         &kp B                   &kp N                  &kp COMMA  &kp PERIOD  &kp M   &kp SLASH
                                                            &mt LEFT_SHIFT SPACE    &mt RIGHT_SHIFT SPACE
            >;
        };
    };
};
